body {
    color: #000;
    font-family: $base-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.container {
    max-width: 1720px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

h1 {
    font-size: 75px;
    font-weight: 700;
    line-height: 120%; 
}

h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 120%;
}

h3 {
    font-size: 20;
    font-weight: 600;
    line-height: 150%;
}